header {
  margin: auto;
  width: 100%;
  background-color: aqua;
  height: 150px;
}
div.header-logo {
  height: 100%;
  width: 20%;
  float: left;
}
div.header-main {
  height: 100%;
background-color: blueviolet;
width: 50%;
 float: right ;
 
}
div.login {
  background-color: cadetblue;
  width: 20%;
  float: right;
  height: 100%;
